/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #007a92;
  --ifm-color-primary-dark: #006e83;
  --ifm-color-primary-darker: #00687c;
  --ifm-color-primary-darkest: #005566;
  --ifm-color-primary-light: #0086a1;
  --ifm-color-primary-lighter: #008ca8;
  --ifm-color-primary-lightest: #009fbe;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #00afd1;
  --ifm-color-primary-dark: #009dbc;
  --ifm-color-primary-darker: #0095b2;
  --ifm-color-primary-darkest: #007a92;
  --ifm-color-primary-light: #00c0e6;
  --ifm-color-primary-lighter: #00c9f0;
  --ifm-color-primary-lightest: #11d8ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

