.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 32px;
  width: 32px;
  margin-right: 1rem;
}

[data-theme='light'] .featureSvg {
  fill: #000000;
}

[data-theme='dark'] .featureSvg {
  fill: #FFFFFF;
}